{{> menu id="dashboard"}}

{{#each member}}
  <section class="ui segment">
    <h2 class="ui header">
      {{name}}
    </h2>
    <a href="/member/{{id}}"> View </a>
  </section>
{{/each}}



{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{member.name}}
  </h2>
  {{> liststats}}
</section>